/* clubPelosLocos.css */
:root{
	--negro:#29272a;
	--naranja:#f69c21;
	--amarillopatito:yellow;
	--grisClarito:#AAA;
	--grisTopo:#F0F0F0;
	
	--negroposta:#000000;
	--blancoposta:#FFFFFF;
	
	--testing:red;
	
	--rosa: #f621d2;
	--purpura: #801f6f;
	--verdeBrillante:#33ff00;
	--colorFondo:#AAA;
}

/* fin variables */
/* ------------------------------------- */
/* con esto limpio los estilos */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color:var(--negro);
	/* background-image:url("../images/pattern.jpg");  */
	/* color:white; */
	/* https://www.myfonts.com/WhatTheFont/ */
	font-family: arial;
}
.contenedor{
	background-color:var(--grisClarito);
	max-width:1000px;
	/* 
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	margin-bottom:15px;
	 */
	margin:15px auto 15px auto;
	padding:15px;
	
	/* agregamos los bordes redondeados */
	border-radius:10px 10px 0 0;
}
.cabecera{
	/* lo dejo en rojo para probar donde estoy */
	/* background-color: red; */
	
	display:flex;
	/* me justifica y ordena horizontalmente */
	justify-content: space-between;
	
	/* centrar verticalmente */
	align-items:center;
	
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	
	margin-top:16px;
	margin-bottom:24px;
}

.cabecera img{
    max-width: 100%;
    height: 50px;
	background: var(--naranja);
	border-radius:0px;
	border: 5px double;
	transition: border-radius 10s, background-color 5s ease-out;
}

.cabecera img:hover{
    background: var(--verdeBrillante);
	border-radius:100%;
	transition: border-radius 2s, background-color 1s ease-out;

}

.cabecera h1{
	color:var(--purpura);
}

/* *·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*/

/* -------------------------------- */
/* seccion botonera OJO ver ejemplos con flexbox y float */
/* -------------------------------- */

/* *·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*/

/* agregar especifidad */
/* .botonera.botonera */
.botonera{
	background-color: var(--purpura);
	/* background-color: var(--testing); */
	display:block;
	/* agregamos para limitar la linea */
	padding-bottom:8px;
	padding-top:8px;
	
	/* agregamos los bordes redondeados */
	border-radius:10px 10px 0 0;
	
	/* para hacer un circulo con 50% de altura y width */
	/* border-radius:50%; */
}

.botonera ul{
	/* margin:10px 5px; */
	margin-left:32px;
	display: flex;
	justify-content: space-between;
	/* margin-left:auto; */
	/* margin-right:auto; */
	list-style-type: none;
}

.botonera li:last-child{
	/* background-color:red; */
	border-right:none;
}
.botonera li{
	text-align:center;
	flex-grow:1;
	border-right: 1px solid var(--rosa);	

	padding-top:10px; 
	padding-bottom:10px; 
}

.botonera a{
	color:var(--blancoposta);
    text-decoration: none;
	padding:8px 3px;
	transition: color 3s;
}

.botonera a:hover{
	color:var(--verdeBrillante);
/*
	background-color:var(--testing);
	background-color: var(--rosa);
 */
	font-weight:500;
	transition: color .2s;
 }

.botonera-lista_formulario{
	margin-left:156px;
}
.botonera-lista_formulario input{
	/* retomo un poco de relleno en los elemnetos del formulario. padding que perdieron con el selector * */
	padding:2px 4px;
}


/* *·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*/

/* -------------------------------- */
/* seccion pie */
/* -------------------------------- */

/* *·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*·*/
.pie{
	/* heredables */
	font-size:14px;
	color: var(--negro);

	background-color: var(--grisClarito);
	padding:6px 50px;
	border-top: 1px solid var(--grisTopo);
	margin-top:30px;
}

/* con esto selecciono varias clases a la vez */
.pie-copy, .pie-china, .pie-arg{
	float:left;
}
.pie-china, .pie-arg{
	padding: 15px 20px;
	/* padding-right:20px; */
	
}
.pie-china{
	border-right:1px solid var(--negroposta);
	padding-left:20px;
	padding-right: 15px;
}
.pie-copy h4{
	font-weight:normal;
}
.pie-creditos{
	clear:both;
	text-align: right;
	
}
.pie-creditos a{
	/*
	paso dos:
	aplicar la fuente de google
	*/
	font-family: 'Indie Flower', cursive;
	font-size:20px
}